@use "../../style/colors" as c;
@import "../../style/mixins";

.Loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.Spinner {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 5px solid c.$GRAY;
  border-bottom-color: c.$LIGHT_GRAY;
  animation: spin 0.5s linear infinite;
}

.Title {
  @include HEADING_3();

  color: c.$BLACK;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
