$WHITE: #f8f9fa;
$LIGHT_GRAY: #dee2e6;
$GRAY: #adb5bd;
$DARK_GRAY: #495057;
$BLACK: #212529;

$RED: #dd2c2f;
$LIGHT_RED: #e66063;

$GREEN: #2dc653;
$LIGHT_GREEN: #6ede8a;

$BLUE: #0077b6;
$LIGHT_BLUE: #48cae4;

$YELLOW: #ffd819;
$LIGHT_YELLOW: #ffe97f;
