@use "../../../shared/style/colors" as c;
@import "../../../shared/style/mixins";

.Idle {
  display: none;
  margin-right: -1000vw;
}

.Hidden {
  position: fixed;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: end;
  margin-right: -1000vw;
  animation: Hide 0.25s linear;
}

.Wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: end;
  animation: Show 0.25s linear;
}

.Info {
  height: 100vh;
  width: 40vw;
  background: c.$WHITE;
  box-shadow: 0 0 25px c.$BLACK;
  padding: 50px;
  position: relative;
}

.Text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px 15px;
  border-bottom: 1px solid c.$GRAY;
}

.Title {
  @include HEADING_4();

  color: c.$BLACK;
}

.TitleEdit {
  width: 100%;
}

.TitleInput {
  @include HEADING_4();

  width: 100%;
  color: c.$BLACK;
  border: 0;
  outline: 0;
  background: c.$WHITE;
}

.Desc {
  @include BODY_2();

  color: c.$DARK_GRAY;
}

.DescEdit {
  @include BODY_2();

  color: c.$DARK_GRAY;
  width: 100%;
  overflow-y: hidden;
  background: c.$WHITE;
  border: 0;
  outline: 0;
  resize: none;
  scrollbar-width: thin;
  scrollbar-color: c.$GRAY c.$WHITE;
}

.Tip {
  @include BODY_3();

  color: c.$GRAY;
  font-style: italic;
  text-align: center;
}

.Delete {
  @include BODY_2();

  position: absolute;
  top: 25px;
  right: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: c.$DARK_GRAY;
  border: 0;
  outline: 0;
  background: c.$WHITE;
  transition: all 0.25s;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;

  &:hover {
    background: c.$LIGHT_GRAY;
    color: c.$BLACK;

    & span {
      color: c.$RED;
    }
  }
}

.Notes {
  padding: 15px 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Textarea {
  @include BODY_2();

  width: 100%;
  height: 15vh;
  resize: none;
  background: c.$LIGHT_GRAY;
  border: 0;
  outline: 0;
  padding: 10px 15px;
  border-radius: 10px;
  color: c.$DARK_GRAY;
  transition: all 0.25s;

  &:focus {
    box-shadow: 0 0 5px c.$BLACK inset;
  }
}

.Note {
  @include BODY_2();

  background: c.$LIGHT_GRAY;
  color: c.$DARK_GRAY;
  padding: 10px 15px;
  border-radius: 5px;
}

@keyframes Show {
  from {
    margin-right: -100%;
  }

  to {
    margin-right: 0;
  }
}

@keyframes Hide {
  from {
    margin-right: 0;
  }

  to {
    margin-right: -100%;
  }
}
