@use "../../../shared/style/colors" as c;
@import "../../../shared/style/mixins";

.SideBar {
  flex-shrink: 0;
  width: 20vw;
  height: 100vh;
  background: c.$WHITE;
  border-right: 1px solid c.$GRAY;
}

.Logo {
  height: 85px;
  background: c.$WHITE;
  border-bottom: 1px solid c.$GRAY;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Button {
  background: c.$WHITE;
  border: 0;
  outline: 0;
  color: c.$DARK_GRAY;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.25s;

  & span {
    font-size: 30px;
  }

  &:hover {
    color: c.$BLACK;
  }
}

.Nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 25px 15px;
  border-bottom: 1px solid c.$GRAY;
}

.Link {
  @include BODY_1();

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  text-decoration: none;
  padding: 10px 15px;
  color: c.$DARK_GRAY;
  background: c.$WHITE;
  border-radius: 5px;
  transition: all 0.25s;

  &:hover {
    background: c.$LIGHT_GRAY;
    color: c.$BLACK;
  }
}

.Future {
  @include HEADING_3();

  color: c.$DARK_GRAY;
  text-align: center;
  padding: 25px 50px;
}
