.Title {
  width: 100%;
  position: relative;
}

.Input {
  font-size: 25px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  color: #212529;
  width: 100%;
  background: #f8f9fa;
  border: 0;
  outline: 0;
}

.Group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.Dates {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

.Label {
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  color: #495057;
}

.Description {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  padding: 10px 20px;
  border-radius: 10px;
  height: 15vh;
  color: #495057;
  resize: none;
  background: #dee2e6;
  border: 0;
  outline: 0;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 25px;
}

.Confirm {
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  outline: 0;
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s;
  background: #495057;
  color: #dee2e6;
}
.Confirm:hover {
  box-shadow: 0 0 10px #495057;
}

.Cancel {
  font-size: 20px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  outline: 0;
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s;
  color: #495057;
  background: #dee2e6;
}
.Cancel:hover {
  box-shadow: 0 0 10px #adb5bd;
}

.Delete {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  align-self: flex-end;
  color: #495057;
  background: #dee2e6;
  outline: 0;
  border: 0;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s;
}
.Delete:hover {
  background: #dd2c2f;
  color: #f8f9fa;
}

.Popup {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(73, 80, 87, 0.25);
  z-index: 10;
}

.Body {
  background: #f8f9fa;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 25px;
  border-radius: 10px;
}

.Question {
  font-size: 25px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
  color: #212529;
}

.Actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.Deadline {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  position: relative;
  width: -moz-max-content;
  width: max-content;
}

.Date {
  font-size: 16px;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  color: #495057;
  background: #dee2e6;
  padding: 10px 20px;
  border-radius: 10px;
  width: -moz-max-content;
  width: max-content;
}

.Calendar {
  border: 0;
  outline: 0;
  background: #f8f9fa;
  padding: 5px 10px;
  border-radius: 5px;
  color: #495057;
  cursor: pointer;
  transition: all 0.25s;
}
.Calendar:hover {
  background: #dee2e6;
  color: #212529;
}/*# sourceMappingURL=Task.module.css.map */