@use "../../../shared/style/colors" as c;
@import "../../../shared/style/mixins";

.Task {
  width: 100%;
  background: c.$WHITE;
  border-radius: 10px;
  position: relative;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Title {
  @include HEADING_4();

  color: c.$BLACK;
}

.Desc {
  @include BODY_2();

  color: c.$DARK_GRAY;
}
