@use "../../../style/colors" as c;
@import "../../../style/mixins";

.Wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color: c.$DARK_GRAY, $alpha: 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.Body {
  background: c.$WHITE;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  border-radius: 15px;
}

.Title {
  @include HEADING_3();

  color: c.$BLACK;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
