@use "../../../../../shared/style/colors" as c;
@import "../../../../../shared/style/mixins";

.Wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color: c.$DARK_GRAY, $alpha: 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
}

.Form {
  background: c.$WHITE;
  width: 35vw;
  padding: 25px 50px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.Title {
  @include HEADING_3();

  color: c.$BLACK;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
}
