@use "../../../shared/style/colors" as c;
@import "../../../shared/style/mixins";

.Column {
  display: flex;
  flex-direction: column;
  background: c.$LIGHT_GRAY;
  width: 100%;
  border-radius: 10px;
  padding: 15px 25px;
}

@mixin Title($color) {
  @include HEADING_4();

  color: c.$BLACK;
  border-bottom: 2px solid $color;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;

  & span {
    background: $color;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
  }
}

.Todo {
  @include Title(c.$LIGHT_RED);
}

.Progress {
  @include Title(c.$LIGHT_BLUE);
}

.Done {
  @include Title(c.$LIGHT_GREEN);
}

.List {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 15px 10px;
}

.Empty {
  @include BODY_1();

  color: c.$DARK_GRAY;
  text-align: center;
}
