@use "../../../shared/style/colors" as c;
@import "../../../shared/style/mixins";

.Title {
  @include HEADING_2();

  color: c.$BLACK;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 15px;
}

.Group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

.Label {
  @include BODY_1();

  color: c.$DARK_GRAY;
}

.Input {
  @include BODY_2();

  color: c.$DARK_GRAY;
  width: 100%;
  outline: 0;
  border: 0;
  background: c.$LIGHT_GRAY;
  padding: 10px 20px;
  border-radius: 10px;
}

.Textarea {
  @include BODY_2();

  color: c.$DARK_GRAY;
  width: 100%;
  height: 15vh;
  outline: 0;
  border: 0;
  background: c.$LIGHT_GRAY;
  padding: 10px 20px;
  border-radius: 10px;
  resize: none;
}

.Buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 25px;
}

@mixin Button {
  @include BODY_1();

  outline: 0;
  border: 0;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.25s;
}

.Confirm {
  @include Button();

  background: c.$DARK_GRAY;
  color: c.$LIGHT_GRAY;

  &:hover {
    box-shadow: 0 0 10px c.$DARK_GRAY;
  }
}

.Cancel {
  @include Button();

  color: c.$DARK_GRAY;
  background: c.$LIGHT_GRAY;

  &:hover {
    box-shadow: 0 0 10px c.$GRAY;
  }
}
